<div [formGroup]="ownForm">
  <!-- names -->
  <div class="form-group row">
    <div class="col-md-3">
      <label>Phone Number</label>
      <input formControlName="phoneNumber" [(ngModel)]="pi.phoneNumber" class="form-control form-control-sm"
             type="text">
    </div>
    <div class="col-md-3">
      <label>Phone Type</label>
      <input formControlName="phoneType" [(ngModel)]="pi.phoneTypeCd" class="form-control form-control-sm"
             type="text">
    </div>
  </div>

</div>
