<div class="bs-example" data-example-id="simple-jumbotron">
  <div class="jumbotron">
    <div class="row text-primary">
      <h2 class="col-md-6"><i class="fa fa-google-wallet" aria-hidden="true"></i><span>Brovada<span></span></span></h2>
      <!--<span class="col-md-1"><a class="text-muted" routerLink="/payment">Payment</a></span>-->
    </div>
    <div class="row">
      <p class="col-md-8">Angular / Spring / REST / Mongo & More!</p>
    </div>
  </div>
</div>

<router-outlet></router-outlet>

