
<h5>Confirmation</h5>

<div class="jumbotron" style="min-height:400px;">
    <div id="msg" class="hide">
        <h1 class="display-3">Policy Complete!</h1>
        <p class="lead">Your policy has been processed blah blah blah....</p>
        <hr class="my-4">
        <p>For future reference, your policy # is 3857349</p>
        <p class="lead">
            <a class="btn btn-primary btn-lg" href="#" role="button">Let's buy more insurance...</a>
        </p>
    </div>

    <div id="pp">
        <div class="alert">
            <strong>Processing</strong> Hang tight while we submit your policy.
        </div>

        <div class="progress">
            <div id="progress" class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
    </div>

</div>




