    <h5>Rating</h5>
    <form class="form col-md-offset-3" (submit)="handleSubmit($event)">

        <div class="form-group row ">
            <div class="col-md-4 ">
                <label>Policy</label>
                <div>{{policy.number}}</div>
            </div>
        </div>
        <div class="form-group row ">
            <div class="col-md-4 ">
                <label>Effective Date</label>
                <div>{{policy.effectiveDate|date}}</div>
            </div>
            <div class="col-md-3">
                <label>Expiration Date</label>
                <div>{{policy.expirationDate|date}}</div>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-md-3">
                <label>Policy Amount</label>
                <div>{{policy.amount|currency:'USD':true:'1.2-2'}}</div>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-md-3">
                <label>Taxes</label>
                <div>{{policy.amount*.135|currency:'USD':true:'1.2-2'}}</div>
            </div>
        </div>
        <hr class="col-md-9">
        <div class="form-group row">
            <div class="col-md-3">
                <label>Total</label>
                <span>{{policy.amount*1.135|currency:'USD':true:'1.2-2'}}</span>
            </div>
        </div>

    <input class="btn btn-primary" type="submit">

    </form>
