<div [formGroup]="form" class="form-group">
  <h6 class="col-md-6" [attr.for]="question.key">{{question.label}}</h6>

  <div [ngSwitch]="question.controlType" class="col-md-6 ">

    <input *ngSwitchCase="'textbox'" [formControlName]="question.key" class="form-control"
           [id]="question.key" [type]="question.type">

    <select [id]="question.key" *ngSwitchCase="'dropdown'" [formControlName]="question.key" class="form-control">
      <option *ngFor="let opt of question.options" [value]="opt.key">{{opt.value}}</option>
    </select>

    <div *ngSwitchCase="'radio'" class="btn-group col-md-offset-4">
      <label *ngFor="let opt of question.options" class="btn btn-default" [class.active]="radioSelected == opt.key"
             (click)="onClick(opt)">
        <input [formControlName]="question.key" type="radio" [value]="opt.key">{{opt.value}}
      </label>
    </div>

  </div>

  <div class="errorMessage" *ngIf="!isValid">{{question.label}} is required</div>
</div>
